footer {
    background-color: #0f3460;
    padding: 80px 0;
    color: #fff;
}
.logo{
   width: 150px;
}
.logo img{
  width: 100%;
}

footer .img i {
    font-size: 20px;
    padding: 5px;
  }
footer .img span {
    margin-top: 5px;
    font-size: 14px;
    margin-right: 55px;
  }
  footer p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  footer li {
    margin-bottom: 10px;
    opacity: 0.5;
  }