.firstbImg{
    width: 500px;
    height: 350px;
}
.firstbImg img{
    width: 100%;
    height: 100%;
}
.secondbImg{
    width: 1180px;
    height: 350px;
}
.secondbImg img{
    width: 100%;
    height: 100%;
}